.app-main-window {
    margin: 5px 5px 5px 5px;
    min-width: 900px;
    height:800px;
}

.app-content-body {
    height:800px;
    margin: 5px 5px 5px 5px;
}

.app-left-panel {
    height:800px;
    float: left;
    overflow: auto;
    width: 250px;
    padding-right: 10px;
}

.app-right-panel {
    height:800px;
    margin-left: 260px;
}

.app-container {
    height:800px;
    background-color: white;
}